<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <event-block sid="127840632228586">
            <conditions>
                <condition id="3" name="On touched object" sid="2076084863046151" type="Touch">
                    <param id="0" name="Object">jogar</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="9259740245803526" type="System">
                    <param id="0" name="Layout">pre</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="9573268151843862">
            <conditions>
                <condition id="3" name="On touched object" sid="9875415689825899" type="Touch">
                    <param id="0" name="Object">credito</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="1642017915568174" type="System">
                    <param id="0" name="Layout">creditos</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
